.DS_Store
.ipynb_checkpoints
slides

# Ignore large dataset (>= 100 MB)

# Ignore Lab1 data
Lab1-mpMRI-glioma/data/Task01_BrainTumour*

# Ignore Lab0 stuff
Lab0-ML/Lab0-begin-python-pandas-medim/._assets
Lab0-ML/Lab0-begin-python-pandas-medim/._kiwi_data
Lab0-ML/Lab0-begin-python-pandas-medim/.vscode

# Avoid interference with the ELMED219 repo when using private notebooks for experimentation
MyNotebooks/

