.DS_Store
.ipynb_checkpoints
slides

# Ignore large dataset (>= 100 MB)
Lab1-mpMRI-glioma/data/Task01_BrainTumour*

# Avoid interference with the ELMED219 repo when using private notebooks for experimentation
MyNotebooks/

